.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    margin: auto;
}

.container>form {
    width: 70%;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    background: rgb(77, 75, 75);
}

pre {
    width: 70%;
    color: #fff;
    font-size: larger;
}

p,
.signedinMessage {
    color: red;
}

h1 {
    color: black;
}
